#root {
  justify-content: center;
}

.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 900px; 
  margin: 0 auto;
}
.signup-logo-container {
 text-align: right;
}

#Signup-Robson-logo {
  width: 300px;
  height: 64px;
}


.signup-logo-container img {
  width: 100%;
}

.signup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    line-height: 40px;
    background-color: white;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: inset;
}

.signup-form{
    margin-top: 20px;
}

.signup-form-control{
    display: flex;
    flex-direction: column;
}

.btn-login {
  height: var(--default-components-height);
  border-radius: var(--default-components-border-radius);
  background-color: var(--orange-color);
  border: none;
  display: block;
  width: 100%;
  color: white;
}

input {
  height: var(--default-components-height);
  padding: 0 20px;
  border-radius: var(--default-components-border-radius);
}

label,input{
     margin-right: 0 10px;
     font-size: 1.2em;
     color: rgb(80, 80, 80);
}

.signup-title {
  font-size: 1.5rem;
  margin-top: 60px;
  font-weight: bold;
}


#sing-up {
  color: var(--orange-color);
}



@media screen and (max-width: 450px) {
    .container{
        width: 90%;
    }
}

 .scale-up-center{
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}