.profile-page-container {
    width: 80%;
    margin: 0 auto;   
}
.profile-container{
    display: flex;
    margin-bottom: 5px;
    position: static;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
    background-color: #fff;
    margin-top: 5%;
}

.profile-infos{
    color: #212529;
    margin: 0 6px 0 16px;
}
.profile-infos > h1{
    font-weight: 400;
    font-size: 20px;
    color: #212529;
    margin-bottom: 5px;
    margin-top: 10px;
}
.profile-infos > h2{
    font-weight: 400;
    font-size: 16px;
    color: #6C757D;
    margin-bottom: 15px;
}
.contato{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.agendar{
    width: 184px;
    height: 38px;
    background-color: #fe662e;
    color: white;
    border: 1px solid #474747;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
}

.agendar:hover{
   font-size: 14px;
   color: white;
}

.whats{
    width: 140px;
    height: 38px;
    color: #fe662e;
    border: 1px solid #fe662e;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
}
.whats > .fa-whatsapp{
    margin-right: 5px;
    color: #fe662e;
}

.whats:hover {
    background-color:#fe662e;
    color: #fff;
}

.whats:hover .fa-whatsapp{
    color: #fff;
}
.skills-container{
    margin-top: 7px;
}

div > .item-skill{
   padding: 1px 5px;
}

div > .item-skill:hover{
    background-color: #fe662e;
    color: #fff;
 }

.redes-sociais{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    gap: 5px;
}

.outdoor {
    width: 77%;
    position:absolute;
    z-index: -1;
}

.outdoor-img {
    width:100%;   
}



@media screen and (max-width: 1200px ) {
    .redes-sociais img{
        width: 200px;
    }
    
}

@media screen and (max-width: 985px ) {
    .profile-image-container > img{
        width: 200px;
    }
    .redes-sociais{
        flex-wrap: wrap;
    }
    .redes-sociais img{
        width: 250px;
    }
    
}

@media screen and (max-width: 675px ) {
    .header-container {
        height: 76px!important;
    }
    .ul-item{
        margin-top: 0;
    }
    .profile-image-container > img{
        width: 150px;
    }
    .profile-container{
        flex-direction: column;
        align-items: center;
    }
    .contato{
        align-items: center;
    }
}

@media screen and (max-width: 461px ){
    .ul-item{
        margin-bottom: 10px;
    }
}

