:root {
  --width-size: 30px;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home-container {
  width: 80%;
  margin: 0 auto;
}

.header-container {
  display: inline-flex;
  width: 100%;
  gap: 30px;
  margin: 10px 0;
}

.header-container div {
  background-color: purple;
}

.profile-image {
  border-radius: 100%;
  width: var(--width-size);
  height: var(--width-size);
}

.label-header {
  border-radius: 10px;
  width: 300px;
  height: var(--width-size);
}

.search-container {
  display: inline-flex;
  width: 100%;
  gap: 30px;
  margin-bottom: 10px;
}

.search-field {
  background-color: purple;
  border-radius: 15px;
  text-align: space-between;
  
  color: white;
  padding: 0 20px;
}

.search-filter {
  display: flex;
  gap: 10px;
}
