:root {
  --width-size: 40px;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.home-container {
  width: 80%;
  margin: 0 auto;
}

.header-container {
  display:flex;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
  margin: 10px 0;
}
.logo{
  background-color: silver;
  width: 100px;
}

.profile-image {
  border-radius: 100%;
  width: var(--width-size);
  height: var(--width-size);
  background-color: purple;
}

.label-header {
  border-radius: 10px;
  width: 300px;
  height: var(--width-size);
}

.search-container {
  display: inline-flex;
  width: 100%;
  gap: 30px;
  margin-bottom: 10px;
  background-color: purple;
  border-radius: 17px;
}

.search-field {
  background-color: silver;
  border-radius: 10px;
  text-align: space-between;
  color: white;
  padding: 0 20px;
}

.search-filter {
  display: flex;
  gap: 10px;
}
